@import '/node_modules/bootstrap/scss/bootstrap.scss';
// @import 'owl.carousel/dist/assets/owl.carousel.css';

// переменные
$gap:15px;

body {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.modal {
    z-index: 9997;
}

menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 0;

    .logo {
        margin-right: $gap;
    }

    .main_menu {

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        max-width: 820px;

    }

    a {
        text-decoration: none;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 500;
        line-height: 124.7%;
        color: #000000;

        &:hover {
            color: #FF5F46;
        }
    }

    .contacts {
        display: flex;
        align-items: center;
        margin-left: $gap;

        img {
            margin-right: 5px;
        }

        a {
            font-weight: 800;
            font-size: 22px;
            line-height: 132.7%;
            // letter-spacing: -1px;
        }

    }

    .btn-call {
        position: absolute;
        right: 0;
        top: 4*$gap;
        font-weight: 600;
        font-size: 16px;
        line-height: 124.7%;
        text-align: right;
        color: #FF5F46;
        border-bottom: 1px dashed #FF5F46;
        padding-left: 0;
        padding-right: 0;
        // text-decoration-line: underline;
        // text-decoration-color: #FF5F46;
        // text-decoration-style: dashed;
        // text-decoration-skip-ink: none; 

    }

}




// бургер с медиа
#burger-menu {
    width: 64px;
    height: 64px;
    background-color: #FF5F46;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    display: none;
    position: absolute;
    right: $gap;
    top: $gap;
}

#burger-menu span {
    display: block;
    width: 32px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    left: 16px;
    transition: 200ms ease;
}

#burger-menu span:nth-child(1) {
    top: 20px;
}

#burger-menu span:nth-child(2) {
    top: 30px;
}

#burger-menu span:nth-child(3) {
    top: 40px;

}

#burger-menu.open span:nth-child(2) {
    transform: scaleX(0);
}

#burger-menu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 30px;
}

#burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 30px;
}

#shadow {
    display: none;
}

.logo_hiden {
    display: none;
}

// адаптив для меню
@media screen and (max-width: 1200px) {
    .logo_hiden {
        display: block;
        margin-top: $gap;
    }

    menu {
        margin: 0;

        .main_menu {

            flex-direction: column;
            flex-grow: 1;

            div {
                margin-bottom: $gap;
            }

        }


        .btn-call {

            position: static;
        }

    }

    #burger-menu {
        display: block;
        z-index: 9997;
    }

    #shadow {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 9996;
    }

    #shadow.open {
        display: block;
    }


    #main-menu {

        position: absolute;
        top: 0;
        left: -260px;
        width: 100%;
        max-width: 260px;
        height: auto;
        background-color: #fff;
        flex-direction: column;

        padding: 15px;
        box-sizing: border-box;
        transition: 300ms ease;
        z-index: 9997;
        border-radius: 0 12px 12px 0;
    }

    #main-menu.open {
        padding-top: 2*$gap;
        left: 0px;
        justify-content: flex-start;
        overflow: hidden;
        max-width: 320px;


        >div {
            margin-bottom: 2*$gap;
        }

        .btn-order {
            position: static;
        }


    }


}

// бургер с медиа//


.main_content{
    margin-top: 7*$gap;
    display: flex;
}

.colum1 {
    display: flex;
    max-width: 450px;
    padding-top: 40px;
    position: relative;

    h1 {
        font-weight: normal;
        font-size: 48px;
        line-height: 124.7%;
        color: #181818;
    }
    .line{
        position: absolute;
        top: 68px;
        left: -140px;
    }
}

.colum3 {
    max-width: 202px;
    padding-top: 40px;
    .stage {
        .number {
            font-weight: 900;
            font-size: 48px;
            line-height: 132.7%;
            color: #FF5F46;
        }
    }
}

.bold_txt {
    font-weight: 900;
}