@import '/node_modules/bootstrap/scss/bootstrap.scss';
// @import 'owl.carousel/dist/assets/owl.carousel.css';

// переменные
$gap:15px;

body {
    font-family: Gilroy, sans-serif;
    background-color: #fff;


}

// first screen
.screen1 {
    padding: 1.5*$gap;
    height: 925px;
    // overflow: hidden;
    background-position: top center, bottom center;
    background-size: 1920px auto, 1920px auto;
    background-repeat: no-repeat, no-repeat;
    background-position: center 155%, top;
    padding-bottom: 250px;

    // .cloud {

    //     position: absolute;
    //     top: 85vh;
    //     left: 0px;
    //     width: 100%;
    //     max-width: 100vw;
    //     height: 350px;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }

    .logo_hide {
        display: none;
    }

    menu {
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5*$gap 2*$gap;
        margin-bottom: 14*$gap;
        background: #FFFFFF;
        box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
        max-width: 1170px;

        .menu-item {
            >a {
                text-decoration: none;
                font-family: Gilroy;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
            }
        }

        .contacts {
            .mail a {

                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                text-align: right;

                color: #656565;
            }

            .telephone a {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */

                text-align: right;

                color: #000000;
            }
        }
    }

    .btn-order {
        position: absolute;
        top: calc(100% + 15px);
        right: 0;
    }

    .tittle-block {
        max-width: 552px;
        margin-bottom: 3*$gap;

        .tittle {
            margin-bottom: 2*$gap;


            h1 {
                font-style: normal;
                font-weight: 800;
                font-size: 36px;
                line-height: 134.7%;



                color: #000
            }

            .subtittle {

                font-weight: normal;

            }
        }

        .tittle-info {
            max-width: 411px;

            h2 {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 132.6%;
                color: #000;
            }
        }


    }

    .btn-leave-order {}



}

.container {
    max-width: 1200px;
    padding: 0 $gap;
}

.btn {

    background: linear-gradient(0deg, #E04100 0%, #FD733B 100%);
    box-shadow: 0px 3px 0px #BB4F23;
    border-radius: 6px;
    color: #FFF;
    padding: 11px 2.5*$gap;

    &:hover {
        background: linear-gradient(180deg, #FF8756 0%, #EE4E0C 100%);
        box-shadow: 0px 3px 0px #BB4F23;
        border-radius: 6px;
        color: #FFF;
    }

    &:focus {
        background: linear-gradient(180deg, #FF8756 0%, #EE4E0C 100%);
        border-radius: 6px;
        color: #FFF;
        box-shadow: none
    }
}


// бургер с медиа
#burger-menu {
    width: 64px;
    height: 64px;
    background-color: #1f6acc;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    display: none;
    position: absolute;
    right: $gap;
    top: $gap;
}

#burger-menu span {
    display: block;
    width: 32px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 16px;
    transition: 200ms ease;
}

#burger-menu span:nth-child(1) {
    top: 20px;
}

#burger-menu span:nth-child(2) {
    top: 30px;
}

#burger-menu span:nth-child(3) {
    top: 40px;

}

#burger-menu.open span:nth-child(2) {
    transform: scaleX(0);
}

#burger-menu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 30px;
}

#burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 30px;
}

#shadow {
    display: none;
}

@media screen and (max-width: 991px) {
    .logo {
        display: none;
    }

    .screen1 .logo_hide {
        display: block;
    }

    #burger-menu {
        display: block;
        z-index: 9999;
    }

    #shadow {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 9998;
    }

    #shadow.open {
        display: block;
    }


    #main-menu {

        position: fixed;
        top: 0;
        left: -260px;
        width: 100%;
        max-width: 260px;
        height: 100vh;
        background-color: #fff;
        /* box-shadow: rgba(0,0,0,.3) 0 0 15px; */
        flex-direction: column;
        align-items: stretch;
        padding: 15px;
        box-sizing: border-box;
        transition: 300ms ease;
        z-index: 9999;
    }

    #main-menu.open {
        padding-top: 2*$gap;
        left: 0px;
        justify-content: flex-start;

        >div {
            margin-bottom: 2*$gap;
        }

        .btn-order {
            position: static;
        }
    }

    .tittle-container {
        margin: 6*$gap auto 0;

    }
}

// бургер с медиа//


// второй экран
.screen2 {
    position: relative;
    overflow: hidden;
    padding-bottom: 7*$gap;

    // .cloud {
    //     position: absolute;
    //     top: -150px;
    // }

    .container {
        display: flex;
        flex-direction: column;

        .serveces {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .left-services {
                margin-right: 2*$gap;

                >div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 3*$gap;

                    ul {
                        padding: 0;
                        margin-top: 1.5*$gap;
                        margin-bottom: 2*$gap;

                        li {
                            list-style-type: none;
                        }
                    }
                }

                .left-top {
                    width: 570px;
                    height: 364px;
                    margin-bottom: 2*$gap;
                }

                .left-bottomn {
                    width: 570px;
                    height: 364px;
                }
            }

            .right-services {
                >div {
                    padding: 3*$gap;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;

                    ul {
                        margin-top: 1.5*$gap;
                        margin-bottom: 2*$gap;
                        padding: 0;

                        li {
                            list-style-type: none;
                        }
                    }
                }

                .left-top {
                    width: 570px;
                    height: 364px;
                    margin-bottom: 2*$gap;
                }

                .left-bottomn {
                    width: 570px;
                    height: 364px;
                }
            }
        }

    }

    .carabine-left {
        display: inline-block;
        position: absolute;
        top: 520px;
        left: 0px;
    }

    .carbine-right {
        display: inline-block;
        position: absolute;
        top: 135px;
        right: -20px;
    }

}

.screen-tittle {
    align-self: center;
    margin: auto;

    h3 {
        display: inline-block;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 134.7%;
        text-align: center;
        color: #000000;
    }

    margin-bottom: 6*$gap;
}

.screen3 {
    overflow: hidden;
    position: relative;

    .stages-img {
        display: block;
        position: absolute;
        top: -50px;
        right: 0;
        z-index: -1;
    }

    h3 {
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 134.7%;
        color: #000
    }

    .stages {
        margin-top: 4.5*$gap;
        max-width: 800px;

        .stage-row {
            margin-bottom: 3.7*$gap;
        }
    }

    .stage-img {
        width: 70px;
        height: 70px;
        background: linear-gradient(0deg, #E04100 0%, #FD733B 100%);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2*$gap;
    }

    .stage-item {
        display: flex;
        flex-direction: row;

        h4 {
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 134.7%;
            margin-bottom: 0;
        }

        .stage-info {
            max-width: 269px;

            p {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 134.7%;


                color: #000
            }
        }
    }
}

.screen4 {
    margin-top: 6.5*$gap;

    background-repeat: no-repeat;
    background-position: 15% 60%;

    .tittle {
        margin-bottom: 5*$gap;

        h3 {
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 120.7%;


            text-align: center;

            color: #000
        }

        h4 {
            font-weight: normal;
            font-style: normal;

            font-size: 48px;
            line-height: 120.7%;


            text-align: center;

            color: #000
        }
    }

    // .alpinist{
    //     position: absolute;
    //     left: 210px;
    //     z-index: -1;
    // }
    .numbers {
        display: flex;
        max-width: 775px;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        padding-right: 25px;

        .number-col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .numper-item {
                margin-bottom: 3*$gap;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    margin-top: $gap;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 134.7%;
                    text-align: center;
                    color: #000;
                }
            }
        }
    }
}

.bold-text {
    font-weight: 800;
}

.screen5 {
    margin-top: 4*$gap;
    position: relative;
    margin-bottom: 1.5*$gap;

    // overflow: hidden;
    .cable {
        position: absolute;
        top: -140px;
        right: 0px;
        overflow: hidden;
        z-index: -1;
    }

    h4 {
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 120.7%;
        text-align: center;
        color: #000
    }

    h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 120.7%;
        text-align: center;
        color: #000
    }

    .guarantee {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 7*$gap;
        padding: 9.6*$gap;
        padding-bottom: 0;
        position: relative;
    }

    .guarantee-item {
        max-width: 222px;
        max-height: 150px;
        position: absolute;

        &:nth-child(1) {
            top: 1px;
        }

        &:nth-child(2) {
            top: 150px;
            right: 90px;

        }

        &:nth-child(3) {
            top: 370px;
            right: 60px;
        }

        &:nth-child(4) {
            top: 370px;
            left: 80px;
            max-width: 175px;
        }

        &:nth-child(5) {
            top: 150px;
            left: 115px;
            max-width: 175px;
        }

        .item-number {
            margin-bottom: 2*$gap;
        }
    }

    .item-text {

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 134.7%;
        color: #000;

    }



    .centred-img {
        position: relative;

        .roup {
            position: absolute;
            left: calc(50% - 230px);
            top: calc(50% - 230px);
        }

        .drill {
            position: absolute;
            left: 50%;
            top: calc(50% - 230px);
        }

        .stopwatch {
            position: absolute;
            left: 0;
            bottom: 26%;
        }
    }

    .carabine {
        position: absolute;
        bottom: -150px;
        left: 13%;
    }

}

.screen6 {
    padding-top: 7*$gap;
    padding-bottom: 6.2*$gap;
    background-repeat: no-repeat;

    h3 {
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 134.7%;
        /* identical to box height, or 54px */

        text-align: center;

        color: #000
    }

    .container {
        position: relative;

    }

    .reviews {
        margin-top: 5*$gap;
        display: flex;
        justify-content: center;
        align-items: center;

        .arrow-left {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            background: #FFF;
            box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.1);
            width: 38px;
            height: 38px;
            border-radius: 50px;
            left: -2*$gap;
            cursor: pointer;

            &:hover {
                background: rgb(247, 245, 245);

            }

        }

        .arrow-right {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            background: #FFFFFF;
            box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.1);
            width: 38px;
            height: 38px;
            border-radius: 50px;
            right: -2*$gap;
            cursor: pointer;

            &:hover {
                background: rgb(247, 245, 245);

            }
        }

        .review-item {
            width: 570px;
            height: 415px;
            display: flex;
            margin: 0 18px;
            padding: 3*$gap 3*$gap 2*$gap;
            background: #FFF;
            border-radius: 12px;
            box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.1), 0 0 0 6px #FFF;
            border: 2px dashed #D8D8D8;
            position: relative;

            .mark {
                position: absolute;
                top: -25px;
                left: 2.5*$gap;
                background-color: rgba(255, 255, 255, 0);
            }

            .item-left {

                max-width: 275px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-right: $gap;

                p {
                    display: inline-block;
                    font-style: italic;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 134.7%;
                    color: #000
                }
            }

            .item-right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .btn-reviews {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: uppercase;
                    color: #FFF;

                    p {
                        margin: 0 9px 0 0;
                    }
                }
            }

        }
    }
}

.screen7 {
    margin-top: 7*$gap;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: bottom;

    .h3 {
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 134.7%;
        color: #000000;

    }

    .seo-text {
        margin-top: 3*$gap;
        margin-bottom: 7*$gap;

        #linkSpoiler {
            color: #E04100;
        }
    }

    .form {
        background: #FFF;
        background-repeat: no-repeat;
        background-position: bottom right;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0px 6px 58px rgba(0, 0, 0, 0.1), 0 0 0 6px #FFF;
        border: 2px dashed #D8D8D8;
        width: 570px;
        height: 619px;
        padding: 4*$gap 6*$gap 4*$gap 4*$gap;

        h4 {
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 30px;
            color: #000000;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
            color: #000000;
        }

        form {
            display: flex;
            flex-direction: column;
            margin-top: 3*$gap;

            .btn-submit {
                max-width: 226px;
                margin-top: 2*$gap;
                margin-bottom: 0.8*$gap;
            }

            a {
                color: #E04100;
            }

            label {
                display: flex;
                align-items: center;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                color: #949494;
            }

            .custom-checkbox {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }



            .custom-checkbox {
                ~span {

                    color: #FFF;
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    background: #FFF;
                    border: 1px solid #D8D8D8;
                    box-sizing: border-box;
                    border-radius: 3px;
                    margin-right: .5*$gap;

                    img {
                        display: none;

                    }
                }


            }

            .custom-checkbox:checked {
                ~span {
                    color: #FFF;
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    background: #FFF;
                    border: 1px solid #D8D8D8;
                    box-sizing: border-box;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: .5*$gap;

                    img {
                        display: block;
                        width: 6px;
                        height: 4px;
                    }
                }
            }

        }

        input {
            border: 1px solid #D8D8D8;
            box-sizing: border-box;
            border-radius: 12px;
            padding: $gap 2*$gap;
            margin-bottom: 10px;
        }

        textarea {
            border: 1px solid #D8D8D8;
            box-sizing: border-box;
            border-radius: 12px;
            padding: $gap 2*$gap;
            margin-bottom: 10px;
            overflow: auto;
            resize: none;
        }

        // .input-msg {
        //     width: 412px;
        //     height: 110px;
        //     vertical-align: top;
        //     display: flex;
        //     align-items: flex-start;
        //     justify-content: start;
        // }

    }
}

footer {
    margin-top: 40px;
    padding-bottom: 4*$gap;

    .container {
        display: flex;

        .wrapper-left {
            display: flex;
        }
        .wrapper-right {
            display: flex;
        }

        // >div {
        //     margin-right: 3*$gap;
        // }

        .logo-img {
            margin-bottom: $gap;
            margin-top: 2px;
        }

        h5 {
            display: inline-block;
            margin-bottom: 1.7*$gap;
            font-style: normal;
            font-weight: 800;
            font-size: 14px;
            line-height: 17px;

            color: #000000;
        }

        .logo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 3*$gap;


            .description {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;

                color: #949494;
                margin-bottom: $gap;
            }

            .logo-item {
                margin-top: 1.5*$gap;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000;
            }
        }

        .nav {
            display: flex;
            flex-direction: column;
            margin-right: 3*$gap;

            .nav-item {
                margin-bottom: 1.5*$gap;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000;
            }
        }

        // контакты
        .contacts {
            margin-right: 3*$gap;
        }

        .telephone {
            margin-bottom: $gap;

            a {
                text-decoration: none;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #000;
            }
        }

        .row-links {
            display: flex;
            align-items: flex-start;
            justify-content: start;

            a {
                display: inline-block;
                margin-right: 6px;
            }

        }

        .mail {
            margin-right: 3*$gap;

            a {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                white-space: nowrap;
            }
        }

        .adress {
            margin-right: 3*$gap;

            .adress-item {
                margin-bottom: 1.5*$gap;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;

                color: #000000;
            }
        }
    }



}


// аддаптив
@media screen and (max-width: 1640px) {

    .screen2 {
        .carabine-left {
            display: none;
        }

        .carbine-right {
            display: none;
        }
    }

    .screen3 .stages-img {
        width: 600px;
        top: 10px;
    }

    .screen4 {
        background-size: 30%;
    }

}

@media screen and (max-width: 1450px) {
    .screen3 .stages-img {
        width: 450px;
        top: 80px;
    }

    .screen5 .cable {
        z-index: -1;
    }
}

@media screen and (max-width: 1200px) {
    .screen2 {
        padding-bottom: $gap;

        .container .serveces {
            flex-direction: column;

            .left-services {
                margin-right: 0;
                margin-bottom: 2*$gap;
            }
        }
    }


    .screen3 {
        .container {
            text-align: center;

            .stages {
                margin: auto;
                margin-top: 67.5px;

            }
        }

        .stages-img {
            display: none;

        }
    }

    .screen4 {
        background-image: none !important;
        margin-top: 0;

    }

    .screen4 .numbers {
        margin: auto;
    }

    .screen5 {
        .cable {
            display: none;
        }

        .guarantee {
            align-items: baseline;
            justify-content: center;
            margin: auto;
            margin-top: 3*$gap;
            padding: 0px 0px 0;
            flex-direction: column;
            max-width: 55%;

            .guarantee-item {
                position: static;
                display: flex;
                align-items: center;
                max-width: none;
                max-height: none;
                justify-content: start;
                margin-bottom: $gap;

                .item-number {
                    margin: 0 2*$gap 0 0;

                }
            }
        }

        .centred-img {
            position: absolute;
            z-index: -1;

            .roup {
                display: none;
            }

            .drill {
                display: none;
            }

            .stopwatch {
                display: none;
            }
        }

        .carabine {
            display: none;
        }
    }

    .screen7 {
        margin-top: $gap;
        padding-left: 2*$gap;
        padding-right: 2*$gap;
        padding-bottom: $gap;


        .seo-text {
            margin-bottom: $gap;
        }
    }

    footer {
        .wrapper-left {
           flex-direction: column;
           .logo{
               margin-bottom: $gap;
           }
        }
       

    }

}

@media screen and (max-width: 1330px) {

    .screen6 .reviews {
        max-width: 80%;
        position: relative;
        margin: auto;

        .arrow-left {
            left: -$gap;
            z-index: 1;
        }

        .arrow-right {
            right: -$gap;
            z-index: 1;
        }

        .review-item:last-child {
            // background-color: rgb(153, 0, 0);
            display: none;

        }

    }

}



@media screen and (max-width: 960px) {

    .screen1 {
        padding-bottom: 2*$gap;
    }

    .screen2 {
        .screen-tittle {
            margin-bottom: $gap;
        }
    }

    .stage-row {
        flex-direction: column;
        margin-bottom: 0;

        .stage-item {
            margin-bottom: 55.5px;

            .stage-img {
                img {
                    // position: absolute;
                    // top: 50%;
                    // margin: auto;
                }

                // position: relative;
                // display: block;  

            }
        }

    }

    .screen3 {
        .container .stages {
            margin-top: 2*$gap;

            .stage-row {
                margin-bottom: 0;
            }
        }

        .stage-item .stage-info {
            max-width: none;
        }
    }

    .screen4 {
        .numbers {
            flex-direction: column;
            margin: auto;
            padding-right: 0;
            align-items: stretch;
            max-width: 70%;

            .number-col {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .screen5 {
        .centred-img {
            display: none;
        }
    }

    .screen6 {
        padding-top: $gap;
    }

    .wrapper-right {
        flex-direction: column;
    }
}

@media screen and (max-width: 540px) {

    footer{
        .container{
            display: flex;
            flex-direction: column;
        }
    }

}